*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
log/*.log
*.log
tmp/**/8
tmp/*
Gemfile.lock
doc/api
doc/app
*.swp
*~
.DS_Store
/log
/tmp
db/*.sqlite3
/public/system
/coverage/
/spec/tmp
**.orig
rerun.txt
pickle-email-*.html